.navbar{
    min-width: 100%;
    max-width: 100%;
    background: #ffffff85;
    position: absolute;
    z-index: 2;

}

.navbarLogo{
    max-width: 200px;
    margin-left: 10%;
}

.buttonsLayout{
    display: flex;
    margin-left: auto;
    margin-right: 10%;
}

.navbarButtons{
    color: #354333 !important;
    font-weight: 700;
    font-size: large;
    background-color: transparent !important;
    border-color: transparent !important;
    margin-left: 20px;
    box-shadow: none !important;
}

.navbarButtons:hover{
    text-decoration: underline;
}

.navbarButtons:focus{
    background-color: #1A2119 !important;
    border-color: #1A2119 !important;
    color: white;
}