.ourWhyText{
    text-align: center;
    min-width: 50%;
    font-size: larger;
}

.ourValuesTitle{
    padding-top: 20px;
    padding-bottom: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.ourValuesColumn{
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    
}

.ourValuesRow{
    display: flex;
    justify-content: space-evenly;   
}

.outerContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 50px;
}

.outerContainer2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    text-shadow: 1px 1px #000000;
}


.orangeContainer{
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 75%;
    border-radius: 20px;
    background-color: #354333;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.video {
    width: 890px;
    height: 500px;
    margin-top: 50px;
}

.connectBackground{
    background-image: url("../assets/tree1.jpg");
    background-size: cover;
}

.titleDescription{
    border-radius: 5px 0 0 5px;
    background-color: #ffffff;
    padding: 10px;
    color: #354333;
    text-shadow: 1px 1px #ffffff;
    display: flex;
    flex-direction: column;
    font-size: larger;
    
}

.topRow{
    display: flex;
    padding-top: 100px;
    justify-content: space-around;
    padding-bottom: 100px;
}

.contactMessageBox{
    background-color: #ffffff;
    border-radius: 0 5px 5px 0;
    border-color: transparent;
    padding: 20px;
    min-width: 500px;
    max-width: 500px;

}

.navbarButtons{
    background-color: #354333;
    border-color: #354333;
    border-radius: 5px 5px;
}

.navbarButtons:hover{
    background-color: #1A2119 !important;
    border-color: #1A2119 !important;
    color: white;
}


.introduction{
    text-align: center;
    font-size: larger;
    margin-top: 50px;
    margin-bottom: 50px;
}

.introduction h1{
    font-weight: 600;
}

.teamPhotoContainer {
    background-color: #ffffff85;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    border-radius: 20px;
}

.photoContainer {
    max-width: 75%;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.sectionHeaders {
    min-width: 100%;
    background-color: #354333;
    color: #ffffff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px
}
.sectionHeaders h1{
    font-weight: 600;
}

.background{
    padding-bottom: 80px;
}

@media screen and (max-width: 600px) {
    .topRow{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .titleDescription{
        border-radius: 5px 5px 0 0;
        min-width: 300px;
        max-width: 300px;
        font-size: smaller;
    }
    .contactMessageBox{
        border-radius: 0 0 5px 5px;
        min-width: 300px;
        max-width: 300px;
    }
    .ourValuesRow{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video {
        max-width: 100%;
        height: 300px;
    }
    .outerContainer2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        text-shadow: 1px 1px #000000;
    }
    .ourWhyText{
        text-align: center;
        min-width: 100%;
        font-size: smaller;
    }
    .photoContainer{
        margin-top: 20px;
        max-width: 100%;
    }
    .introduction{
        font-size: smaller;
    }
}
